@import "tailwindcss/theme.css" layer(tailwind.theme);
@import "tailwindcss/utilities.css" layer(tailwind.utilities);

@custom-variant light (&:where(.v-theme--light, .v-theme--light *));
@custom-variant dark (&:where(.v-theme--dark, .v-theme--dark *));

@theme {
  --breakpoint-*: initial;
  /* repeated breakpoints.ts and settings.scss */
  --breakpoint-xs: 0px;
  --breakpoint-sm: 600px;
  --breakpoint-md: 840px;
  --breakpoint-lg: 1145px;
  --breakpoint-xl: 1545px;
  --breakpoint-xxl: 2138px;

  --color-background: rgb(var(--v-theme-background));
  --color-primary: rgb(var(--v-theme-primary));
  --color-surface: rgb(var(--v-theme-surface));
  --color-surface-variant: rgb(var(--v-theme-surface-variant));
  --color-success: rgb(var(--v-theme-success));
  --color-info: rgb(var(--v-theme-info));
  --color-warning: rgb(var(--v-theme-warning));
  --color-error: rgb(var(--v-theme-error));
}

@source inline('rounded-none');
@source inline('rounded-sm');
@source inline('rounded'); /* .25rem */
@source inline('rounded-md');
@source inline('rounded-lg');
@source inline('rounded-xl');
@source inline('rounded-2xl');
@source inline('rounded-3xl');
@source inline('rounded-4xl');
@source inline('rounded-full');
